body {
  background-color: #2d3250;
  color: #f6b17a;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  main {
    flex-wrap: nowrap;
  }
  
.main_header {
  background-color: #424769;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

a:link,
:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: #333;
}
.main_nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.main_nav_text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main_text_body {
  display: flex;
  flex-direction: column;
}

.main_text_heading {
  display: flex;
  justify-content: center;
}

.main_text_image {
  display: flex;
  justify-content: center;
}

.main_text_paragraph {
  padding-top: 20px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 20px;
  font-size: 20px;
}

.main_text_footer_image {
  display: flex;
  justify-content: center;
}
.main_text_footer_text {
  display: flex;
  justify-content: center;
}

.about_main_text {
  display: flex;
  flex-direction: column;
}
.about_main_text_heading_text {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-bottom: 20px;
}

.about_main_text_paragraph {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
  font-size: 15px;
}

.about_main_image {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.about_text_synops {
  display: flex;
  justify-content: center;
}

.about_ESO_image {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about_ESO_text_synops {
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
  font-size: 15px;
}

.about_footer_heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 30px;
}

.about_footer_links {
  display: flex;
  justify-content: space-evenly
}

.about_footer_image {
  width: 100%;
  height: auto;
}
.about_footer_image_book {
  width: 40%;
  height: auto;
}
